<div class="user-list" *ngFor="let user of users"  >
  <mat-card class="user-list-card" (click)="viewUserDetail(user.id)">
    <mat-card-header >
      <img mat-card-sm-image [src]="user.avatar" alt="User Avatar" >
      <mat-card-title-group>
        <mat-card-subtitle>{{user.id}}</mat-card-subtitle>
        <mat-card-title>{{user.first_name}}</mat-card-title>
        <mat-card-subtitle>{{user.last_name}}</mat-card-subtitle>
        <mat-card-title>{{user.email}}</mat-card-title>
      </mat-card-title-group>
    </mat-card-header>
  </mat-card>
</div>
